<%- include("../partials/header") %>

<form
  action="/profile/<%= profile.id %>?_method=PUT"
  method="POST"
  class="profile-edit-form"
>
  <img src="<%= profile.avatar %>" class="profile-edit-avatar" />

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Username</span>
    <input
      type="text"
      name="userName"
      class="form-control"
      value="<%= profile.userName %>"
    />
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">Image URL</span>
    <input
      type="text"
      name="avatar"
      class="form-control"
      value="<%= profile.avatar %>"
    />
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">Bio</span>
    <textarea name="bio" class="form-control"><%= profile.bio %></textarea>
  </div>

  <div class="profile-edit-btns">
    <button type="submit" class="btn btn-warning submit-btn">Save</button>
    <button
      type="button"
      onclick="discardChanges()"
      class="btn btn-warning discard-btn"
    >
      Discard
    </button>
  </div>
</form>

<%- include("../partials/footer") %>
