<%- include("../partials/header") %>

<h2>User Profile</h2>
<h2>Welcome <%= profile.userName %></h2>

<p>Username: <%= profile.userName %></p>
<p>Avatar: <img src="<%= profile.avatar %>" alt="Profile Avatar" /></p>
<p>Bio <%= profile.bio %></p>
<a href="/profile/<%= profile.id %>/edit">Edit Profile</a>

<%- include("../partials/footer") %>
