<%- include("../partials/header") %>

<div class="profile">
  <div class="profile-img">
    <img src="<%= profile.avatar %>" alt="Profile Avatar" />
  </div>

  <div class="profile-name">
    <p><%= profile.userName %></p>
  </div>

  <div class="profile-bio">
    <% if(profile.bio) { %>
    <p><%= profile.bio %></p>
    <% } else { %>
    <p>Bio Empty</p>
    <% } %>
  </div>
</div>
<a href="/profile/<%= profile.id %>/edit" class="profile-edit-btn"
  >Edit Profile</a
>

<%- include("../partials/footer") %>
