<%- include("../partials/header") %>

<h3 class="edit-post-page">Edit Post</h3>
<form action="/posts/<%= post.id %>?_method=PUT" method="POST" class="edit-post-form">
  
  <div class="input-group mb-3">
    <span class="input-group-text">Meal Date</span>
    <input
      type="date"
      name="mealDate"
      value="<%= post.mealDate.toISOString().substring(0, 10) %>" class="form-control"
    />
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Meal Type</span>
    <select name="mealType" class="form-select">
      <option value="Breakfast" <%= post.mealType === "Breakfast" ? "selected" : "" %>>Breakfast</option>
      <option value="Lunch" <%= post.mealType === "Lunch" ? "selected" : "" %>>Lunch</option>
      <option value="Dinner" <%= post.mealType === "Dinner" ? "selected" : "" %>>Dinner</option>
      <option value="Snack" <%= post.mealType === "Snack" ? "selected" : "" %>>Snack</option>
      <%= post.mealType %>
    </select>
  </div>
    
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Meal Time</span>
    <input type="time" name="mealTime"value="<%= post.mealTime.substring(0, 5) %>" class="form-control" />
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Weight</span>
    <input 
    type="number" 
    name="weight"
    class="form-control" 
    step="0.1"
    min="0"
    max="999.9"
    pattern="\d+(\.\d{0,1})?" 
    value="<%= post.weight %>" />
  </div>

  <div class="input-group mb-3 edit-post-img">
    <span class="input-group-text">Image URL</span>
    <input type="text" name="photo" class="form-control" value="<%= post.photo %>">
    <% if(post.photo) { %>
     <img src="<%= post.photo %>" alt="" />
    <% } else { %>
     <p class="no-img">No Image</p>
    <% } %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Text</span>
    <textarea name="text" class="form-control"><%= post.text %></textarea>
  </div>

  <div class="post-edit-btns">
    <button type="submit" class="btn btn-warning">Save</button>
    <button type="button" class="btn btn-warning" onclick="discardChanges()">Discard</button>
  </div>
</form>

<%- include("../partials/footer") %>
