<% if(user) { %> <%- include("../partials/header") %>

<section class="posts">
  <% posts.forEach(function(post) { %>
  <div class="post">
    <p><%= post.mealDate.toLocaleDateString() %></p>
    <p><%= post.mealType %></p>
    <a href="/posts/<%= post.id %>/edit">Edit</a>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
      <button type="submit" onclick="return confirm('Delete this post?')">
        Delete
      </button>
    </form>
    <img src="<%= post.photo %>" alt="" />
    <p>Meal Time: <%= post.mealTime.substring(0, 5) %></p>
    <p>Weight: <%= post.weight %>kg</p>
    <p><%= post.text %></p>
  </div>
  <% }) %>
</section>

<%- include("../partials/footer") %> <% } else { %> <%- include("../index") %>
<% } %>
