<% if(user) { %> <%- include("../partials/header") %>

<section class="posts">
  <% posts.forEach(function(post) { %>
  <div class="post">
    <p><%= post.mealDate.toLocaleDateString() %></p>
    <p><%= post.mealType %></p>
    <ul class="post-edit-list">
      <li><a href="/posts/<%= post.id %>/edit">Edit</a></li>
      <li><a href="#">Delete</a></li>
    </ul>
    <img src="<%= post.photo %>" alt="" />
    <p>Meal Time: <%= post.mealTime.substring(0, 5) %></p>
    <p>Weight: <%= post.weight %>kg</p>
    <p><%= post.text %></p>
  </div>
  <% }) %>
</section>

<%- include("../partials/footer") %> <% } else { %> <%- include("../index") %>
<% } %>
