<%- include("../partials/header") %>
<a href="#" class="side-nav-toggle-btn"
  ><i class="fa-solid fa-bars" style="color: var(--black)"></i
></a>
<% if(posts && posts.length > 0) { %>
<div class="row">
  <section class="post-profile">
    <div class="post-profile-img">
      <img src="<%= profile.avatar %>" alt="Profile Avatar" />
    </div>
    <div class="post-profile-name"><%= profile.userName %></div>

    <p class="post-profile-bio"><%= profile.bio %></p>
    <a href="/profile/<%= profile.id %>/edit" class="post-profile-edit-btn"
      >Edit Profile</a
    >
  </section>
  <div>
    <a href="/posts/new" class="side-new-post-btn">New Post</a>
  </div>

  <section class="posts">
    <% dateGroups.forEach(([date, posts]) => { %>
    <div class="post-date-board">
      <h3 class="post-date"><%= date %></h3>

      <% posts.forEach(function(post) { %>
      <div class="post">
        <p class="post-meal-type"><%= post.mealType %></p>

        <div class="post-bar-toggle">
          <a href="#" class="post-bar-toggle-btn"
            ><i class="fa-solid fa-bars" style="color: var(--white)"></i
          ></a>
          <div class="post-bar-list">
            <a href="/posts/<%= post.id %>/edit" class="post-edit-btn">Edit</a>
            <form
              class="delete-form"
              action="/posts/<%= post.id %>?_method=DELETE"
              method="POST"
            >
              <button
                type="submit"
                class="post-delete-btn"
                onclick="return confirm('Delete this post?')"
              >
                Delete
              </button>
            </form>
          </div>
        </div>

        <img src="<%= post.photo %>" class="post-photo" />
        <div class="post-sub">
          <p class="post-meal-time">
            Meal Time: <%= post.mealTime.substring(0, 5) %>
          </p>
          <p class="post-weight">Weight: <%= post.weight %>kg</p>
        </div>
        <p class="post-text"><%= post.text %></p>
      </div>
      <% }) %>
    </div>
    <% }) %>
  </section>
</div>
<% } else { %>
<h3 class="no-post">No Posts Yet</h3>
<% } %> <%- include("../partials/footer") %>
